div.dokuwiki table.monthcal {
	font-size: 12px;
	font-family: Verdana;
}
div.dokuwiki table.monthcal tr.description,
div.dokuwiki table.monthcal tr.description td {
	border: 0;
	background: none;
}
div.dokuwiki table.monthcal tr.description td.month {
	text-align: left;
}
div.dokuwiki table.monthcal tr.description td.year {
	text-align: right;
	font-weight: bolder;
}

div.dokuwiki table.monthcal tr td,
div.dokuwiki table.monthcal tr th {
	text-align: center;
}

div.dokuwiki table.monthcal tr th {
	text-align: center;
	font-weight: bold;
	background-color: #eee;
}

.borderless {
	border: 0;
}
.withborder {
	border: 1px solid #ccc;
}
